/* цвет основного текста #212121 */
/* вторичній текст #757575*/
/* белій #FFFFFF*/
/* акцент #2196F3 */
/* цвет второй кнопки #F5F4FA*/
:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --button-color: #F5F4FA;
}
body {background-color: var(--primary-white-color);
    color: var(--primary-text-color) ;
    font-family: Roboto, sans-serif;
    font-size: px;
    letter-spacing: 0.06em;
        
}
.list {
    list-style: none;
}
.logo {
    color: #000000;
    font-family: Raleway, sans-serif;
}
.logo:hover {
    color: var(--accent-color);
}
.accent {
    color: var(--accent-color);
}
/* site nav */
.site-nav .link {
    color: var(--primary-text-color);
}
.site-nav .link:focus,
.site-nav .link:hover {
    color: var(--accent-color);
}
.site-nav .link.current {
    color: var(--accent-color);
}
/* hero */
.hero-title {
    background-color: #2F303A ;
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    
}

/* section */
.section-title {
    color: 
}

/* features */
.feature-list .title {
    color: 
}

/* Examples */
.work-list .title {
    color: 
}
/* Foter */
.address-list .link {
    color: var(--primary-white-color);
    background-color: #2F303A;
}

/* Button */
.button {
    color: ;
    background-color: ;
    cursor: pointer;
}
.button.primary {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

.button.secondary {
    color: var(--primary-text-color);
    background-color: var(--button-color);
}